<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>States API</h1>

    <h2>Endpoints</h2>
    <ul>
        <li>/states/</li> 
        <li>/states/?contig=true</li>
        <li>/states/?contig=false</li>
        <li>/states/:state</li>
        <li>/states/:state/funfact</li>
        <li>/states/:state/capital </li>
        <li>/states/:state/nickname </li>
        <li>/states/:state/population </li>
        <li>/states/:state/admission</li>
    </ul>
</body>

</html>